body {
    font-family: arial, roboto;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: #fff;
    padding: 2vh 20vh;
}

.title {
    display: flex;
    flex: 1;
    font-size: 24px;
    margin: 0;
    padding: 0;
    color: #F9FaF8;
    font-weight: 950;
}

a {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-content: space-between;
    justify-content: flex-end;
    gap: 25px;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

.logo-stuff {
    display: flex;
    flex-direction: row;
}

.header-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-content: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
    gap: 100px;
}

button {
    margin-top: 1.5vh;
    display: flex;
    padding: 8px 30px;
    color: #fff;
    font-size: 15px;
    font-weight: 900;
    background-color: #3882F6;
    border: 1px solid #3882F6;
    border-radius: 6px;
}

.header-text-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    max-width: 500px;
}

.header-main-text {
    font-size: 48px;
    font-weight: 930;
}

.image-placeholder {
    display: flex;
    max-width: 500px;
    max-height: 420px;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(161, 161, 161, 0.925);
}

.header-sub-text {
    margin-top: 0.5vh;
    color: #E5E7EB;
    font-size: 18px;
}

.information {
    margin-top: 6vh;
    background-color: #fff;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-bottom: 11vh;
}

.information-header {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.information-card-container {
    justify-content: center;
    align-items: center;
    margin-top: 4vh;
    display: flex;
    flex: 1;
    gap: 30px;
}

.card-container {
    max-width: 170px;
    max-height: 220px;
    color: #565757;
    flex-wrap: wrap;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #3882F6;
    border-radius: 15px;
    height: 150px;
    width: 150px;
    margin-bottom: 0.8vh;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: #E5E7EB;
    padding-top: 13vh;
    padding-bottom: 10vh;
}

.quote-main-text {
    font-size: 36px;
    flex-wrap: wrap;
    max-width: 770px;
    color: #1F2937;
    font-style: italic;
    font-weight: 500;
}

.quote-under-text {
    display: flex;
    flex: 1;
    font-size: 20px;
    color: #1F2937;
    font-weight: bold;
    justify-content: flex-end;
    align-self: flex-end;
    max-width: 770px;
    flex-wrap: wrap;
    margin-top: 0.5vh;
}